$body-bg: #000;
$primary: #b4f9dc;
$black: #000;
$secondary: #b4f9dc;
$third: #d1d5ff;

.card {
  color: $black;
  background-color: $primary;
  margin-top: 30px;
}
.btn-info {
  background-color: $third;
  color: $black;
  --bs-btn-border-color: $third;
  width: fit-content;
  margin-right: 10px;
  margin-right: 10px;
}
.btn {
  background-color: $third;
  color: $black;
}
.border {
  background-color: $third;
  color: $black;
}
